body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  font-size: 15px;
  margin-top: none;
}

.tab {
	background-color: white;
}

.name {
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.facts {
    padding-top: 15px;
}

.parallax_two {
    /* The image used */
    background-image: url("../landscape_three.jpg");

    /* Set a specific height */
    max-height: 140px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5px;
}

.parallax_three {
    /* The image used */
    background-image: url("../landscape.jpg");

    /* Set a specific height */
    min-height: 100px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 5px;
}

.parallax_four {
    /* The image used */
    background-image: url("../landscape_one.jpg");

    /* Set a specific height */
    min-height: 100px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 5px;
}


.text {
	background-color: white;
	padding: 10px;
}
