body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  font-size: 15px;
}

.tab {
	background-color: white;
}

.name {
	padding: 10px;
}

.parallax_two {
    /* The image used */
    background-image: url("../landscape_three.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text {
	background-color: white;
	padding: 10px;
}
